body{
    background: #da1a08;
}


    .container{
        background: rgb(0, 0, 0);
        width: 500px;
        height: 500px;
        position: relative;
    }

    .square1{
        background: blue;
        position: absolute;
        width: 50px;
        height: 50px;
        left: 70px;
        top: 50px;
    }

    .rectangle{
        background: pink;
        width: 50px;
        height: 250px;
        position: absolute;
        top: 100px;
        left: 180px;
    }

    .insidesquare1{
        position: relative;
      background: purple;
      width: 50px;
      height: 100px;
      margin-top: 50px;
    }

   